/*@import url(./normalize.css);*/

* {
    box-sizing: border-box;
}


body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#profile {
    position: relative;
}

#avatar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#apps{
    border-radius: 50%;
    position:initial ;
    top: 1px;
    left: 1px;
    
}

header {
    margin: 15px;
    & ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & li{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* Estilizando a main */
main{
    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .actions{
            display: flex;
            gap: 12px;
            & button{
                background-color: #f8f9fa;
                border-radius: 4px;
                width: 141px;
                height: 36px;
                border: none;
                color: rgb(60, 64, 67);
                /* Adicionando a mão quando passar o cursor */
                cursor: pointer;
                &:hover{
                    box-shadow: 0 1px 1px rgba(0,0,0, 1);
                    border: 1px solid #DADCE0;
                }
            }
        }
        & > div:nth-child(1){
            min-width: 584px;
            height: 48px;
            margin: 29px;
            border: #dfe1e5 1px solid;
            border-radius: 25px;
            display: flex;
            align-items: center;
            & >* {
                min-width: 48px;
                display: flex;
                flex: 1;
                cursor: pointer;
                /* align-items: center; */
                /* justify-content: center; */
            }
            /* Definindo o espaçamento dos ícones manualmente */
            & .Microfone{
                min-width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .LeansIcon{
                min-width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .lupa {
                min-width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;       
            }
            & input{
                border: none;
                outline: none;
                flex: 1;
            }
        }
    }
}

/* Adicionando configs para as tags <ul> */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

/* Adicionando cor para as tags <a> */
a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

/* Adicionando cor para as tags a dentro de footer */
footer  {
    background-color: #F2F2F2;
    width: 100%;
    & a {
        color: #70757A;
    }
    & p{
        padding: 15px;
        margin: 0;
        color: rgb(60, 64, 67); 
    }
    & nav{
        
        border-top: #DADCE0 1px solid;
        padding: 15px;
        & ul{
            display: none;
        }
    }
}

/* Adicionando uma responsividade, se o tamanho da tela for 768px...*/
@media (min-width: 768px) {
    body {
        font-family: Arial;
        font-weight: initial;
    }

    /* Adicionando uma linha abaixo do gmail e imagens quando o mouse passar */
    a:hover{
        text-decoration: underline; 
    }
    main{
        position: relative;
        top: -100px;
    }
    footer {
        & nav{
            display: flex;
            justify-content: space-between;
            & ul{
                display: flex;
            }
        }
        
    }
}
